{% extends 'app/university/department/layouts.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Публикациялар - Zhanibekov University
{% endblock %}


{% block department_content %}
<div class="py-8">
    <ul class="flex flex-wrap font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
        <li class="me-2">
            <button id="news-tab" data-tabs-target="#news" type="button" role="tab" aria-controls="news" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">
                {% translate 'News' %}
            </button>
        </li>
        <li class="me-2">
            <button id="announcements-tab" data-tabs-target="#announcements" type="button" role="tab" aria-controls="announcements" aria-selected="false" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">
                {% translate 'Announcements' %}
            </button>
        </li>
        <li class="me-2">
            <button id="events-tab" data-tabs-target="#events" type="button" role="tab" aria-controls="events" aria-selected="false" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">
                {% translate 'Events' %}
            </button>
        </li>
    </ul>
    <div id="defaultTabContent">
        <div class="hidden bg-white rounded-lg dark:bg-gray-800" id="news" role="tabpanel"
            aria-labelledby="news-tab"
        >
            {% if news|length > 0 %}
                <div class="p-4 flex-1 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                    {% for item in news %}
                        <a 
                            href="{% url 'news_detail' item.id %}" 
                            class="border rounded-lg overflow-hidden transition-all hover:bg-gray-100"
                            data-aos="fade-up"
                        >
                            <div class="overflow-hidden">
                                <img src="{% if item.poster %}{{ item.poster.url }}{% else %}{% static 'images/poster.png' %}{% endif %}" class="w-full" alt="">
                            </div>
                            <div class="p-4">
                                <h1 class="font-semibold line-clamp-2">{{ item.title }}</h1>
                                <span class="text-gray-500">{{ item.date_created }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
                    <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"/>
                    </svg>
                    <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
                    <span class="block text-center text-gray-500">
                        {% translate 'If you are looking for details related to this page, unfortunately they have not yet been downloaded. Remind the site management to insert data!' %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="defaultTabContent">
        <div class="hidden bg-white rounded-lg dark:bg-gray-800" id="announcements" role="tabpanel"
            aria-labelledby="announcements-tab"
        >
            {% if announcements|length > 0 %}   
                <div class="p-4 flex-1 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                    {% for item in announcements %}
                        <a href="{% url 'announcement' item.pk %}" class="rounded-lg border overflow-hidden grid transition-all hover:bg-gray-100">
                            <div class="p-6 flex justify-center items-center bg-amber-500">
                                <svg class="w-16 h-16 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M4 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h1v2a1 1 0 0 0 1.707.707L9.414 13H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M8.023 17.215c.033-.03.066-.062.098-.094L10.243 15H15a3 3 0 0 0 3-3V8h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1v2a1 1 0 0 1-1.707.707L14.586 18H9a1 1 0 0 1-.977-.785Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>

                            <div class="flex-1 p-2">
                                <h1 class="font-semibold line-clamp-2">{{ item.title }}</h1>
                                <span class="text-gray-500">{{ item.date_created }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
                    <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"/>
                    </svg>
                    <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
                    <span class="block text-center text-gray-500">
                        {% translate 'If you are looking for details related to this page, unfortunately they have not yet been downloaded. Remind the site management to insert data!' %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="defaultTabContent">
        <div class="hidden bg-white rounded-lg dark:bg-gray-800" id="events" role="tabpanel"
            aria-labelledby="events-tab"
        >
            {% if events|length > 0 %}      
                <div class="p-4 flex-1 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                    {% for item in events %}
                        <a href="{% url 'event_detail' item.id %}" class="block border rounded-lg overflow-hidden transition-all hover:bg-gray-100">
                            <div class="overflow-hidden">
                                <img src="{% if item.poster %}{{ item.poster.url }}{% else %}{% static 'images/poster.png' %}{% endif %}" class="w-full" alt="">
                            </div>
                            <div class="p-4">
                                <h1 class="font-semibold text-xl line-clamp-2">{{ item.title }}</h1>
                                <span class="text-gray-500">{{ item.date_created }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
                    <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"/>
                    </svg>
                    <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
                    <span class="block text-center text-gray-500">
                        {% translate 'If you are looking for details related to this page, unfortunately they have not yet been downloaded. Remind the site management to insert data!' %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock department_content %}