{% extends 'src/university/faculty/layouts.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {% translate 'Achievements' %} - Zhanibekov University
{% endblock %}

{% block faculty_content %}
<div class="py-8">
    <!-- Projects -->
    {% if achievements|length > 0 %}
        <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            {% for item in achievements %}
                <div 
                    data-modal-target="default-modal-{{ item.id }}" data-modal-toggle="default-modal-{{ item.id }}"
                    class="grid gap-2 cursor-pointer border overflow-hidden rounded-lg transition-all hover:bg-gray-100"
                >
                    <div class="py-6 bg-amber-500 flex justify-center">
                        <svg class="w-16 h-16 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"/>
                        </svg>
                    </div>

                    <div class="flex-1 grid gap-2 px-4 py-2">
                        <h1 class="font-semibold line-clamp-3">
                            {{ item.title }}
                        </h1>
                        <div class="flex items-center gap-2 text-gray-500">
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                            <span>{{ item.date_created }}</span>
                        </div>
                    </div>
                </div>
                <!-- Main modal -->
                <div id="default-modal-{{ item.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-screen-2xl h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white h-full rounded-lg overflow-hidden shadow dark:bg-gray-700">
                            <button type="button" class="fixed top-2 right-6 text-gray-400 bg-white hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-{{ item.id }}">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>

                            <div class="h-full overflow-y-auto">
                                <div id="text-content" class="text-gray-500 px-4 pt-4">
                                    {{ item.description|safe }}
                                </div>
                                {% if item.file %}
                                    <div class="flex-1 h-full">
                                        <iframe src="{{ item.file.url }}" class="w-full h-full"></iframe>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
            <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"/>
            </svg>
            <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
            <span class="block text-center text-gray-500">
                {% translate 'If you are looking for details related to this page, unfortunately they have not yet been downloaded. Remind the site management to insert data!' %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock faculty_content %}