{% extends 'src/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container mx-auto px-4">
        <!-- Header -->
        <div>
            <div
                style="background-image: url('{% if faculty.poster %}{{ faculty.poster.url }}{% else %}/static/images/poster.png{% endif %}');"
                class="h-80 2xl:h-96 bg-cover bg-center"
            ></div>
            <div class="flex h-full w-full py-5 border-b">
                <div class="flex items-center justify-center gap-4">
                    <img
                        src="{% if faculty.image %}{{ faculty.image.url }}{% else %}{% static '/images/card.png' %}{% endif %}"
                        alt="Image"
                        class="w-28 block rounded-full border"
                    />
                    <div class="flex-1">
                        <h1 class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-6xl">
                            {{ faculty.name }}
                        </h1>
                        <span class="text-gray-500">
                            {% if faculty.faculty_type == 'DEFAULT' %}
                                {% translate 'Faculty' %}
                            {% else %}
                                {{ faculty.get_faculty_type_display }}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        {% if faculty.faculty_type == 'DEFAULT' %}
            <ul class="flex gap-2 overflow-x-auto">
                <li>
                    {% url 'faculty_detail' faculty.slug as faculty_detail_url %}
                    <a
                        href="{{ faculty_detail_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_detail_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Home page' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_about' faculty.slug as faculty_about_url %}
                    <a
                        href="{{ faculty_about_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_about_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Faculty about' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_personals' faculty.slug as faculty_personals_url %}
                    <a
                        href="{{ faculty_personals_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_personals_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Faculty members' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_programs' faculty.slug as faculty_programs_url %}
                    <a
                        href="{{ faculty_programs_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_programs_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Programs' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_materials' faculty.slug as faculty_materials_url %}
                    <a
                        href="{{ faculty_materials_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_materials_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Оқу материалдары' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_projects' faculty.slug as faculty_projects_url %}
                    <a
                        href="{{ faculty_projects_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_projects_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Science projects' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_achievements' faculty.slug as faculty_achievements_url %}
                    <a
                        href="{{ faculty_achievements_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_achievements_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Achievements' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_publics' faculty.slug as faculty_publics_url %}
                    <a
                        href="{{ faculty_publics_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_publics_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Publications' %}
                    </a>
                </li>
            </ul>
        {% elif faculty.faculty_type == 'INSTITUTE' %}
            <ul class="flex gap-2 overflow-x-auto">
                <li>
                    {% url 'faculty_detail' faculty.slug as faculty_detail_url %}
                    <a
                        href="{{ faculty_detail_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_detail_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Home page' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_programs' faculty.slug as faculty_programs_url %}
                    <a
                        href="{{ faculty_programs_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_programs_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Programs' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_projects' faculty.slug as faculty_projects_url %}
                    <a
                        href="{{ faculty_projects_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_projects_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Science projects' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_achievements' faculty.slug as faculty_achievements_url %}
                    <a
                        href="{{ faculty_achievements_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_achievements_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Achievements' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_personals' faculty.slug as faculty_personals_url %}
                    <a
                        href="{{ faculty_personals_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_personals_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Institute members' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_publics' faculty.slug as faculty_publics_url %}
                    <a
                        href="{{ faculty_publics_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_publics_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Publications' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_documents' faculty.slug as faculty_documents_url %}
                    <a
                        href="{{ faculty_documents_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_documents_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Institute documents' %}
                    </a>
                </li>
                <li>
                    {% url 'faculty_about' faculty.slug as faculty_about_url %}
                    <a
                        href="{{ faculty_about_url }}"
                        class="border-b-4 block whitespace-nowrap font-medium p-2 transition-all hover:border-blue-700 {% if request.path == faculty_about_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                    >
                        {% translate 'Institute about' %}
                    </a>
                </li>
            </ul>
        {% endif %}

        <div>
            {% block faculty_content %}
            {% endblock faculty_content %}
        </div>
    </div>
{% endblock content %}