{% extends 'src/university/faculty/layouts.html' %}
{% load static %}
{% load i18n %}
{% load program_filters %}


{% block title %}
{% translate 'Programs' %} - Zhanibekov University
{% endblock %}

{% block faculty_content %}
<div class="py-8">
    <div class="grid gap-4">
        <div>
            <span class="text-gray-500">
                {% translate 'Specialty ciphers and names of the departments assigned by the faculty' %}
            </span>
        </div>

        <div class="flex items-center p-4 text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300"
            role="alert">
            <svg class="flex-shrink-0 inline w-6 h-6 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
                {% translate 'Detailed information:' %}
                <a href="https://talapker.okmpu.edu.kz/" target="_blank"
                    class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    talapker.okmpu.kz
                    <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    {% if faculty.faculty_type == 'faculty' %}
    {% if faculty.departments.all %}
        <div class="w-full py-8 grid gap-16">
            {% for department in faculty.departments.all %}
            <div class="grid gap-4">
                <div class="flex gap-2">
                    <img src="{% if department.image %}{{ department.image.url }}{% else %}{{ faculty.image.url }}{% endif %}"
                        alt="Image" class="rounded-full w-16 h-16 border" />
                    <div class="">
                        <h1 class="font-semibold">
                            {{ department.name }}
                        </h1>
                        <span class="text-gray-500">{% translate 'Department' %}</span>
                    </div>
                </div>
                <ul class="flex flex-wrap font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
                    id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
                    {% for item in programs %}
                    <li class="me-2">
                        <button id="{{ department.slug }}{{ item.slug }}-tab"
                            data-tabs-target="#{{ department.slug }}{{ item.slug }}" type="button" role="tab"
                            aria-controls="{{ department.slug }}{{ item.slug }}"
                            aria-selected="{% if item.slug == 'bachelor' %}true{% else %}false{% endif %}"
                            class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100">
                            {{ item.name }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                <div id="defaultTabContent">
                    {% for item in programs %}
                    <div class="hidden bg-white rounded-lg dark:bg-gray-800" id="{{ department.slug }}{{ item.slug }}"
                        role="tabpanel" aria-labelledby="{{ department.slug }}{{ item.slug }}-tab">
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-left rtl:text-right text-gray-500">
                                <thead class="uppercase bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            {% translate 'Program cipher code' %}
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            {% translate 'Program name' %}
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            {% translate 'Source link' %}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% filter_specialities item department as specialities %}
                                    {% for s_item in specialities %}
                                    <tr class="bg-white border-b">
                                        <td class="px-6 py-4">
                                            {{ s_item.code }}
                                        </td>
                                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
                                            {{ s_item.name }}
                                        </th>
                                        <th scope="row" class="px-6 py-4">
                                            <a href="{% if s_item.url %}{{ s_item.url }}{% else %}#{% endif %}"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                                target="_blank">
                                                {% if s_item.url %}{{ s_item.url }}{% endif %}
                                            </a>
                                        </th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% empty %}
                    <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
                        <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z" />
                        </svg>
                        <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
                        <span class="block text-center text-gray-500">
                            {% translate 'If you are looking for details related to this page, unfortunately they have not
                            yet been downloaded. Remind the site management to insert data!' %}
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
            <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="currentColor" viewBox="0 0 24 24">
                <path
                    d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z" />
            </svg>
            <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
            <span class="block text-center text-gray-500">
                {% translate 'If you are looking for details related to this page, unfortunately they have not yet been
                downloaded. Remind the site management to insert data!' %}
            </span>
        </div>
    {% endif %}
    {% elif faculty.faculty_type == 'institute' %}
        <div class="grid gap-4">
            <ul class="flex flex-wrap font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
                id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
                {% for item in programs %}
                <li class="me-2">
                    <button id="{{ item.slug }}-tab" data-tabs-target="#{{ item.slug }}" type="button" role="tab"
                        aria-controls="{{ item.slug }}"
                        aria-selected="{% if item.slug == 'bachelor' %}true{% else %}false{% endif %}"
                        class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100">
                        {{ item.name }}
                    </button>
                </li>
                {% endfor %}
            </ul>
            <div id="defaultTabContent">
                {% for item in programs %}
                <div class="hidden bg-white rounded-lg dark:bg-gray-800" id="{{ item.slug }}" role="tabpanel"
                    aria-labelledby="{{ item.slug }}-tab">
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-left rtl:text-right text-gray-500">
                            <thead class="uppercase bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        {% translate 'Program cipher code' %}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {% translate 'Program name' %}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {% translate 'Source link' %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s_item in item.program_items.all %}
                                <tr class="bg-white border-b">
                                    <td class="px-6 py-4">
                                        {{ s_item.code }}
                                    </td>
                                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
                                        {{ s_item.name }}
                                    </th>
                                    <th scope="row" class="px-6 py-4">
                                        <a href="{% if s_item.url %}{{ s_item.url }}{% else %}#{% endif %}"
                                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                            target="_blank">
                                            {% if s_item.url %}{{ s_item.url }}{% endif %}
                                        </a>
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% empty %}
                <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
                    <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z" />
                    </svg>
                    <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
                    <span class="block text-center text-gray-500">
                        {% translate 'If you are looking for details related to this page, unfortunately they have not yet
                        been downloaded. Remind the site management to insert data!' %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>

    {% elif faculty.faculty_type == 'college' %}
        <div class="grid gap-4">
            {% if faculty.program_items.all %}
                <table class="w-full text-left rtl:text-right text-gray-500">
                    <thead class="uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                {% translate 'Program cipher code' %}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {% translate 'Program name' %}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                {% translate 'Source link' %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s_item in faculty.program_items.all %}
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4">
                                {{ s_item.code }}
                            </td>
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
                                {{ s_item.name }}
                            </th>
                            <th scope="row" class="px-6 py-4">
                                <a href="{% if s_item.url %}{{ s_item.url }}{% else %}#{% endif %}"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                    target="_blank">
                                    {% if s_item.url %}{{ s_item.url }}{% endif %}
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="max-w-lg mx-auto flex flex-col py-16 items-center">
                    <svg class="w-20 h-20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z" />
                    </svg>
                    <h1 class="text-2xl font-bold">{% translate 'Warning about content creation' %}</h1>
                    <span class="block text-center text-gray-500">
                        {% translate 'If you are looking for details related to this page, unfortunately they have not yet
                        been downloaded. Remind the site management to insert data!' %}
                    </span>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock faculty_content %}