{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="max-w-screen-2xl w-full mx-auto px-4 grid gap-8">
        <!-- Header -->
        <div class="grid gap-4 py-8 border-b border-border-200">
            <div class="w-full flex flex-col items-center gap-4">
                <img
                    src="{% if division.image %}{{ division.image.url }}{% else %}{% static '/images/icon.png' %}{% endif %}"
                    alt="Image"
                    class="w-36 rounded-full border border-border-200"
                />
                <div class="grid gap-2 text-center">
                    <h1 class="font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
                        {{ division.name }}
                    </h1>
                    <span class="text-muted">{{ division.get_div_type_display }}</span>
                    <div class="relative">
                        {% if division.parent %}
                            <a 
                                href="{% url 'division_detail' division.parent.slug %}" 
                                class="font-medium text-primary-600 hover:underline"
                            >
                                {{ division.parent.name }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <nav class="flex gap-1 lg:hidden">
                <div class="relative">
                    {% url 'division_detail' division.slug as division_detail_url %}
                    <a
                        href="{{ division_detail_url }}"
                        class="flex whitespace-nowrap p-2 border-b-4 border-transparent transition-all {% if request.path == division_detail_url %}border-b-primary-600{% else %}hover:border-b-primary-600{% endif %}"
                    >
                        {% translate 'Home page' %}
                    </a>
                </div>
                {% if division.division_personals.all %}
                    <div class="relative">
                        {% url 'division_personals' division.slug as division_personals_url %}
                        <a
                            href="{{ division_personals_url }}"
                            class="flex whitespace-nowrap p-2 border-b-4 border-transparent transition-all {% if request.path == division_personals_url %}border-b-primary-600{% else %}hover:border-b-primary-600{% endif %}"
                        >
                            {% translate 'Personals' %}
                        </a>
                    </div>
                {% endif %}
                {% if division.division_documents.all %}
                    <div class="relative">
                        {% url 'division_docs' division.slug as division_docs_url %}
                        <a
                            href="{{ division_docs_url }}"
                            class="flex whitespace-nowrap p-2 border-b-4 border-transparent transition-all {% if request.path == division_docs_url %}border-b-primary-600{% else %}hover:border-b-primary-600{% endif %}"
                        >
                            {% translate 'Documents' %}
                        </a>
                    </div>
                {% endif %}
                <div class="relative">
                    {% url 'division_about' division.slug as division_about_url %}
                    <a
                        href="{{ division_about_url }}"
                        class="flex whitespace-nowrap p-2 border-b-4 border-transparent transition-all {% if request.path == division_about_url %}border-b-primary-600{% else %}hover:border-b-primary-600{% endif %}"
                    >
                        {% if LANGUAGE_CODE == 'ru' %}О{% elif LANGUAGE_CODE == 'en' %}About{% endif %}
                        {{ division.get_div_type_display }}
                        {% if LANGUAGE_CODE == 'kk' %}жайлы{% endif %}
                    </a>
                </div>
            </nav>
        </div>

        <div class="flex items-start gap-8 pb-8">
            <!-- Sidebar -->
            <ul class="hidden lg:grid gap-1 w-64 sticky top-16">
                <li>
                    {% url 'division_detail' division.slug as division_detail_url %}
                    <a
                        href="{{ division_detail_url }}"
                        class="flex py-2 px-4 rounded-xl transition-all {% if request.path == division_detail_url %}bg-primary-600 text-white{% else %}hover:bg-secondary-100{% endif %}"
                    >
                        {% translate 'Home page' %}
                    </a>
                </li>
                {% if division.division_personals.all %}
                    <li>
                        {% url 'division_personals' division.slug as division_personals_url %}
                        <a
                            href="{{ division_personals_url }}"
                            class="flex py-2 px-4 rounded-xl transition-all {% if request.path == division_personals_url %}bg-primary-600 text-white{% else %}hover:bg-secondary-100{% endif %}"
                        >
                            {% translate 'Personals' %}
                        </a>
                    </li>
                {% endif %}
                {% if division.division_documents.all %}
                    <li>
                        {% url 'division_docs' division.slug as division_docs_url %}
                        <a
                            href="{{ division_docs_url }}"
                            class="flex py-2 px-4 rounded-xl transition-all {% if request.path == division_docs_url %}bg-primary-600 text-white{% else %}hover:bg-secondary-100{% endif %}"
                        >
                            {% translate 'Documents' %}
                        </a>
                    </li>
                {% endif %}
                <li>
                    {% url 'division_about' division.slug as division_about_url %}
                    <a
                        href="{{ division_about_url }}"
                        class="flex py-2 px-4 rounded-xl transition-all {% if request.path == division_about_url %}bg-primary-600 text-white{% else %}hover:bg-secondary-100{% endif %}"
                    >
                        {% if LANGUAGE_CODE == 'ru' %}О{% elif LANGUAGE_CODE == 'en' %}About{% endif %}
                        {{ division.get_div_type_display }}
                        {% if LANGUAGE_CODE == 'kk' %}жайлы{% endif %}
                    </a>
                </li>
            </ul>

            <div class="flex-1">
                {% block division_content %}
                {% endblock division_content %}
            </div>
        </div>
    </div>
{% endblock content %}