{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% translate 'Publications' %}
{% endblock %}


{% block content %}
<div class="container mx-auto px-4 flex items-start">

    <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
        type="button"
        class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
        </svg>
    </button>

    <aside id="default-sidebar"
        class="fixed top-0 left-0 z-40 sm:static w-64 h-screen sm:h-auto transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="{% url 'news' %}"
                        class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/publics/news/' %}bg-gray-100{% endif %}">
                        <span class="ms-3">{% translate 'News' %}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'announcements' %}"
                        class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group {% if request.path == '/publics/announcements/' %}bg-gray-100{% endif %}">
                        <span class="ms-3">{% translate 'Announcements' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="p-4 flex-1 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for item in items %}
            {% if code == 'news' %}
                <a 
                    href="{% url 'news_detail' item.id %}" 
                    class="border rounded-lg overflow-hidden transition-all hover:bg-gray-100"
                    data-aos="fade-up"
                >
                    <div class="overflow-hidden max-h-48">
                        <img 
                            src="{% if item.poster %}{{ item.poster.url }}{% else %}{% static '/images/poster.png' %}{% endif %}" 
                            class="w-full" alt="{{ item.title }}"
                        >
                    </div>
                    <div class="p-4">
                        <h1 class="font-semibold line-clamp-2">{{ item.title }}</h1>
                        <span class="text-gray-500">{{ item.date_created }}</span>
                    </div>
                </a>
            {% elif code == 'event' %}
                <a href="{% url 'event_detail' item.id %}" class="block border rounded-lg overflow-hidden transition-all hover:bg-gray-100">
                    <div class="overflow-hidden max-h-48">
                        <img 
                            src="{% if item.poster %}{{ item.poster.url }}{% else %}{% static 'images/poster.png' %}{% endif %}" 
                            class="w-full" alt="{{ item.title }}"
                        >
                    </div>
                    <div class="p-4">
                        <h1 class="font-semibold line-clamp-2">{{ item.title }}</h1>
                        <span class="text-gray-500">{{ item.date_created }}</span>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'announcement' item.pk %}" class="rounded-lg border overflow-hidden grid transition-all hover:bg-gray-100">
                    <div class="p-6 flex justify-center items-center bg-amber-500">
                        <svg class="w-10 h-10 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M4 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h1v2a1 1 0 0 0 1.707.707L9.414 13H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M8.023 17.215c.033-.03.066-.062.098-.094L10.243 15H15a3 3 0 0 0 3-3V8h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1v2a1 1 0 0 1-1.707.707L14.586 18H9a1 1 0 0 1-.977-.785Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>

                    <div class="flex-1 p-2">
                        <h1 class="font-semibold line-clamp-2">{{ item.title }}</h1>
                        <span class="text-gray-500">{{ item.date_created }}</span>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}