{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% translate 'Publications' %}
{% endblock %}


{% block content %}
<div class="max-w-screen-2xl w-full mx-auto px-4 flex gap-4 items-start">
    <button 
        data-drawer-target="publics-sidebar" 
        data-drawer-toggle="publics-sidebar" 
        aria-controls="publics-sidebar"
        type="button"
        class="fixed inline-flex items-center p-2 bg-white shadow z-10 rounded-lg md:hidden hover:bg-secondary-100 focus:outline-none focus:ring-2 focus:ring-secondary-200"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
            <path d="M4 5h16" />
            <path d="M4 12h16" />
            <path d="M4 19h16" />
        </svg>
    </button>

    <aside
        id="publics-sidebar"
        class="fixed top-0 left-0 z-50 md:sticky md:z-0 md:top-12 w-64 h-screen bg-white md:h-auto transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar"
    >
        <div class="h-full py-4 px-2 overflow-y-auto">
            <ul class="space-y-1">
                <li>
                    <a 
                        href="{% url 'news' %}"
                        class="flex items-center p-2 rounded-lg {% if request.path == '/publics/news/' %}bg-primary-600 text-white{% else %}hover:bg-secondary-100{% endif %}">
                        <span class="ms-3">{% translate 'News' %}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'announcements' %}"
                        class="flex items-center p-2 rounded-lg {% if request.path == '/publics/announcements/' %}bg-primary-600 text-white{% else %}hover:bg-secondary-100{% endif %}">
                        <span class="ms-3">{% translate 'Announcements' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="flex-1 grid gap-4 py-4">
        <div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for item in page_obj %}
                {% if code == 'news' %}
                    <a 
                        href="{% url 'news_detail' item.id %}" 
                        class="border border-border-200 rounded-xl shadow overflow-hidden transition-all hover:bg-secondary-100"
                        data-aos="fade-up"
                    >
                        <div class="aspect-video overflow-hidden bg-primary-600">
                            <img 
                                src="{% if item.poster %}{{ item.poster.url }}{% else %}{% static '/images/poster.png' %}{% endif %}" 
                                class="w-full" alt="{{ item.title }}"
                            >
                        </div>
                        <div class="grid gap-2 p-4">
                            <h1 class="font-medium line-clamp-2">{{ item.title }}</h1>
                            <div class="flex gap-1 items-center text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock3-icon lucide-clock-3">
                                    <path d="M12 6v6h4" />
                                    <circle cx="12" cy="12" r="10" />
                                </svg>
                                <span class="text-sm">{{ item.date_created|date:"j F Y, H:i" }}</span>
                            </div>
                        </div>
                    </a>
                {% elif code == 'event' %}
                    <a 
                        href="{% url 'event_detail' item.id %}" 
                        class="block border border-border-200 rounded-xl overflow-hidden transition-all hover:bg-secondary-100"
                    >
                        <div class="aspect-video overflow-hidden bg-primary-600">
                            <img 
                                src="{% if item.poster %}{{ item.poster.url }}{% else %}{% static '/images/poster.png' %}{% endif %}" 
                                class="w-full" alt="{{ item.title }}"
                            >
                        </div>
                        <div class="grid gap-2 p-4">
                            <h1 class="font-medium line-clamp-2">{{ item.title }}</h1>
                            <div class="flex gap-1 items-center text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock3-icon lucide-clock-3">
                                    <path d="M12 6v6h4" />
                                    <circle cx="12" cy="12" r="10" />
                                </svg>
                                <span class="text-sm">{{ item.date_created|date:"j F Y, H:i" }}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a 
                        href="{% url 'announcement' item.pk %}" 
                        class="rounded-lg border border-border-200 shadow overflow-hidden grid transition-all hover:bg-secondary-100"
                    >
                        <div class="h-24 overflow-hidden flex justify-center items-center bg-amber-500 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-megaphone-icon lucide-megaphone">
                                <path
                                    d="M11 6a13 13 0 0 0 8.4-2.8A1 1 0 0 1 21 4v12a1 1 0 0 1-1.6.8A13 13 0 0 0 11 14H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
                                <path d="M6 14a12 12 0 0 0 2.4 7.2 2 2 0 0 0 3.2-2.4A8 8 0 0 1 10 14" />
                                <path d="M8 6v8" />
                            </svg>
                        </div>

                        <div class="grid gap-2 p-4">
                            <h1 class="font-medium line-clamp-2">{{ item.title }}</h1>
                            <div class="flex gap-1 items-center text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock3-icon lucide-clock-3">
                                    <path d="M12 6v6h4" />
                                    <circle cx="12" cy="12" r="10" />
                                </svg>
                                <span class="text-sm">{{ item.date_created|date:"j F Y, H:i" }}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="flex justify-center items-center gap-2">
            {% if page_obj.has_previous %}
                <a 
                    href="?page={{ page_obj.previous_page_number }}"
                    class="flex items-center p-2 rounded-lg border border-border-200 hover:bg-secondary-100"    
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-left-icon lucide-chevron-left">
                        <path d="m15 18-6-6 6-6" />
                    </svg>
                </a>
            {% endif %}
        
            <div class="flex gap-1 text-muted">
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <span class="px-4 py-1 bg-primary-600 text-white rounded-lg">{{ num }}</span>
                    {% else %}
                        <a href="?page={{ num }}" class="px-4 py-1 border border-border-200 rounded-lg hover:bg-secondary-100">
                            {{ num }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        
            {% if page_obj.has_next %}
                <a 
                    href="?page={{ page_obj.next_page_number }}"
                    class="flex items-center p-2 rounded-lg border border-border-200 hover:bg-secondary-100"    
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-right-icon lucide-chevron-right">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}