{% extends 'src/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {{ item.name }} - Zhanibekov University
{% endblock %}


{% block content %}
    <div class="container mx-auto px-4">
        <!-- Header -->
        <div class="relative">
            <div class="flex justify-center py-5 border-b">
                <div class="grid gap-4 text-center">
                    <img
                        src="{% static '/images/icon.png' %}"
                        alt="Image"
                        class="w-36 block rounded-full border mx-auto"
                    />
                    <div class="">
                        <h1 class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-6xl">
                            {{ item.name }}
                        </h1>
                        <span class="text-gray-500">
                            {{ item.get_div_type_display }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-8 grid gap-8">
            <!-- About -->
            <div class="max-w-screen-xl mx-auto text-center">
                <div class="text-gray-500">
                    {{ item.about|safe }}
                </div>
            </div>

            <!-- Personals -->
            {% if item.division_personals.all|length > 0 %}
                <div class="flex flex-col gap-2">
                    <div class="">
                        <h1 class="text-2xl font-bold">Басқарма құрамы</h1>
                    </div>
                    <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                        {% for item in item.division_personals.all %}
                            <div 
                                data-modal-target="default-modal-{{ item.id }}" data-modal-toggle="default-modal-{{ item.id }}"
                                class="grid gap-2 text-center p-4 cursor-pointer border overflow-hidden rounded-lg transition-all hover:bg-gray-100"
                            >
                                <img 
                                    src="{% if item.image %}{{ item.image.url }}{% else %}{% static '/images/card.png' %}{% endif %}" 
                                    class="rounded-full w-32 h-32 mx-auto border-2"
                                    alt="{{ item.full_name }}"
                                >
                                <h1 class="font-semibold">
                                    {{ item.full_name }}
                                </h1>
                                <span class="text-gray-500">{{ item.profession }}</span>
                            </div>
                            <!-- Main modal -->
                            <div id="default-modal-{{ item.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-screen-2xl max-h-full">
                                    <!-- Modal content -->
                                    <div class="relative bg-white h-full rounded-lg overflow-hidden shadow dark:bg-gray-700">
                                        <button type="button" class="fixed top-2 right-6 text-gray-400 bg-white hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-{{ item.id }}">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>

                                        <div class="flex flex-col p-6">
                                            <div class="text-center grid gap-4">
                                                <img
                                                    src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'images/card.png' %}{% endif %}" alt="Image"
                                                    class="w-40 h-40 rounded-full border-2 mx-auto"
                                                />
                                                <div class="grid gap-2 border-b pb-4">
                                                    <h1 class="text-xl font-bold">
                                                        {{ item.full_name }}
                                                    </h1>
                                                    <span class="text-gray-500">
                                                        {{ item.profession }}
                                                    </span>
                                                    <div>
                                                        {% if item.phone %}
                                                            <div class="flex justify-center items-center text-blue-700 gap-2">
                                                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                                    <path d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"/>
                                                                </svg>
                                                                <a href="#" class="underline">{{ item.phone }}</a>
                                                            </div>
                                                        {% endif %}
                                                        {% if item.email %}
                                                            <div class="flex justify-center items-center gap-2 text-blue-700">
                                                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                                    <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                                                                </svg>
                                                                <span>{{ item.email }}</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="text-gray-500">
                                                    {{ item.about }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Departments -->
            {% if departments|length > 0 %}
                <div class="grid gap-4">
                    <div class="">
                        <h1 class="text-2xl font-bold">Басқарма құрамындағы департаменттер</h1>
                    </div>
                    <div class="grid gap-4 grid-cols-4">
                        {% for sub_item in departments %}
                            <a 
                                href="{% url 'division_detail' sub_item.slug %}"
                                class="border p-6 rounded-lg text-center transition-all hover:bg-gray-100"
                            >
                                <img
                                    src="{% static '/images/icon.png' %}"
                                    alt="Image"
                                    class="w-28 block rounded-full border mx-auto mb-2"
                                />
                                <h1 class="text-2xl font-bold">{{ sub_item.name }}</h1>
                                <span class="text-gray-500">
                                    {{ sub_item.get_div_type_display }}
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Divisions -->
            {% if divisions|length > 0 %}
                <div class="grid gap-4">
                    <div class="">
                        <h1 class="text-2xl font-bold">Басқарма құрамындағы бөлімдер</h1>
                    </div>
                    <div class="grid gap-4 grid-cols-4">
                        {% for sub_item in divisions %}
                            <a 
                                href="{% url 'division_detail' sub_item.slug %}"
                                class="border p-6 rounded-lg text-center transition-all hover:bg-gray-100"
                            >
                                <img
                                    src="{% static '/images/icon.png' %}"
                                    alt="Image"
                                    class="w-28 block rounded-full border mx-auto mb-2"
                                />
                                <h1 class="text-2xl font-bold">{{ sub_item.name }}</h1>
                                <span class="text-gray-500">
                                    {{ sub_item.get_div_type_display }}
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}