{% extends 'src/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container mx-auto px-4">
        <!-- Header -->
        <div>
            <div
                style="background-image: url('/static/images/poster.png');"
                class="h-80 bg-cover bg-center"
            ></div>
            <div class="flex h-full w-full py-5 border-b">
                <div class="flex items-center justify-center gap-4">
                    <img
                        src="{% static '/images/icon.png' %}"
                        alt="Image"
                        class="w-28 rounded-full border"
                    />
                    <div class="grid">
                        <h1 class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-6xl">
                            {{ division.name }}
                        </h1>
                        <span class="text-gray-500">{{ division.get_div_type_display }}</span>
                        {% if division.parent %}
                            <a href="{% url 'division_detail' division.parent.slug %}" class="font-medium text-blue-600 hover:underline">{{ division.parent.name }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <ul class="flex">
            <li>
                {% url 'division_detail' division.slug as division_detail_url %}
                <a
                    href="{{ division_detail_url }}"
                    class="border-b-4 block whitespace-nowrap p-2 transition-all hover:border-blue-700 {% if request.path == division_detail_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                >
                    {% translate 'Home page' %}
                </a>
            </li>
            <li>
                {% url 'division_about' division.slug as division_about_url %}
                <a
                    href="{{ division_about_url }}"
                    class="border-b-4 block whitespace-nowrap p-2 transition-all hover:border-blue-700 {% if request.path == division_about_url %}border-b-blue-700{% else %}border-b-transparent{% endif %}"
                >
                    {% if LANGUAGE_CODE == 'ru' %}О{% elif LANGUAGE_CODE == 'en' %}About{% endif %}
                    {{ division.get_div_type_display }}
                    {% if LANGUAGE_CODE == 'kk' %}жайлы{% endif %}
                </a>
            </li>
        </ul>

        <div>
            {% block division_content %}
            {% endblock division_content %}
        </div>
    </div>
{% endblock content %}